/* Login and signup forms */

.account-form button {
  width: 10rem;
  margin-left: 80px;
}

#signup-form button {
  width: 10rem;
}

.account-forms-container {
  /* padding-left: 20px; */
}

.submit-form button {
  width: 10rem;
  margin-left: 80px;
}
.stories-form-container {
  padding-left: 20px;
}

/* User profile */

.user-profile-box {
  padding: 10px 20px 20px;
  font-size: 0.8rem;
}

.user-profile-box > * {
  margin: 10px 0;
}

